  body {
background-repeat: no-repeat;
background-image: url(https://creativo.one/lessons/les5669/01.jpg);
background-size: 2400px;
  }
  .ots1 {
    padding-left: 4%;
  }
 .otss {
    padding-left: 5%;
 }
 .ots2 {
    padding-left: 2%;
 }
.ots3 {
    padding-left: 1%;
}